@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container{
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.car-card{
    background: white;
    width: 260px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.car-card h2{
    text-align: center;
    color: #333;
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
}

form label{
    font-weight: bold;
    font-size: 14px;
}

form input{
    padding: 7px;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 6px;
}

form button{
    margin-top: 10px;
    padding: 8px;
    background: #087f5b;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

form button:hover{
    background: #0a5f47;
}
